{% extends 'layout.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        {% block nav %}{% include 'common/nav.html.twig' %}{% endblock %}
        {% block title %}List of images{% endblock %}

        {% block bandeau %}
            <h2>images</h2>
            <p class="margBot"><i>Images list and update.</i>
            </p>
            <a href="{{ path('admin.image.create') }}" class="alert-success whiteText p-3">New image <i class="fa fa-plus"></i>
            </a>
        {% endblock %}

        {% block content %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-icon alert-dismissible alert-{{ label }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="example-wrapper">
                <table class="page-wrapper table table-striped" id="sortTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Path</th>
                        <th width="10%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for image in imageslist %}
                        <tr>
                            {% if image.id is not null %}
                                <td>{{ image.id }}</td>
                                <td>{{ image.image }}</td>
                                <td>{{ image.name }}</td>
                                <td>{{ image.path }}</td>
                            {% else %}
                                <td> -</td>
                            {% endif %}
                            <td width="10%">
                                <a href="{{ path("admin.image.create", {"id":image.id}) }}" class="mr-2"><i
                                            class="fa fa-pencil text-warning"></i></a>
                                <form action="{{ path("admin.image.delete", {"id":image.id}) }}" id="{{ image.id }}"
                                      method="post" class="noStyle" style="display: inline-block;width: 5%">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                                    <button type="submit" data-id="{{ image.id }}" class="btn noStyle onDelete"><i
                                                class="fa fa-trash text-danger"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </div>
{% endblock %}
